Last login: Fri Jun 30 15:11:36 on ttys000
srustium@Srustis-MacBook-Air ~ % conda create -n sensation
Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 23.3.1
  latest version: 23.5.0

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.5.0



## Package Plan ##

  environment location: /Users/Shared/miniconda3/envs/sensation



Proceed ([y]/n)? $y                                         
Invalid choice: $y
Proceed ([y]/n)? [y]
Invalid choice: [y]
Proceed ([y]/n)? y

Preparing transaction: done
Verifying transaction: done
Executing transaction: done
#
# To activate this environment, use
#
#     $ conda activate sensation
#
# To deactivate an active environment, use
#
#     $ conda deactivate

srustium@Srustis-MacBook-Air ~ % conda activate sensation
(sensation) srustium@Srustis-MacBook-Air ~ % vi requirements.txt

zsh: suspended  vi requirements.txt
(sensation) srustium@Srustis-MacBook-Air ~ % vi requirements.txt     

# First Install portaudio
#portaudio --version
Python==3.11.4
numpy==1.25.0
torch==1.9.0
transformers==4.30.2
PyAudio==0.2.13
pydub==0.25.1
miniaudio==1.59
SpeechRecognition==3.10.0
openai-whisper


~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               

